.date_form {
    margin-top: 50px;
}

.location {
    margin-top: 10px;
}

.location-text {
    font-size: 16px;
    font-weight: bold;
    font-family: Open Sans;
    margin-top: 10px;
}

.utility {
    font-size: 20px;
    font-weight: bold;
    font-family: Open Sans;
    margin-top: 10px;
}